.header{
  /* width: 10px; */
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(7, 7, 7, 0.5);

}

.app-logo > img{
  height: auto;
  width: 80px;
  margin: 10px;
  border-radius: 30px
}

/* .header-nav{
  justify-content: space-between;
} */
.header-nav > ul {
  list-style: none;
  display: flex;
  margin-top: 30px;
  margin-right: 10px;
  /* justify-content: space-between; */
}

.header-nav>ul>li{
  margin-left: 10px;

}
.header-nav>ul>li:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(7, 7, 7, 0.5)  
}

