.acc-header1 {
  background-color: #f0f0f0;  
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  margin: 10px;
  padding: 10px;
}

.acc-header{
  background-color: #f0f0f0;  
  width: 60%;
  margin: 10px auto; /* Center the div */
  padding: 10px;
  display: flex;
  justify-content: space-between ;
  font-size: large;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  /* text-align: center;  */

}